spring:
  application:
    name: promotionProduct

  datasource:
    url : jdbc:h2:mem:testdb;MODE=Oracle;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone : Asia/Seoul

  sql:
    init:
      mode: always

server:
  port: 8081

logging:
  level:
    org.hibernate.SQL : debug
    org.hibernate.type.descriptor.sql.BasicBinder : trace

